# Игнорировать папку node_modules (зависимости npm)
node_modules/

# Игнорировать скрытые файлы (macOS/Linux)
.DS_Store
.idea/
.vscode/

# Игнорировать логи и кэш
*.log
*.tmp

# Игнорировать сборку (если используете Webpack/Vite)
dist/
build/

# Игнорировать настройки окружения (если есть)
.env
.env.local